@model Web.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuisine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuisine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dificulty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dificulty.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
