@model IEnumerable<Entities.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreparationMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dificulty.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparationMinutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMinutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serves)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dificulty.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecipeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecipeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecipeId })
        </td>
    </tr>
}

</table>
