@model IEnumerable<Entities.Models.RecipeIngredient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecipeIngredientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecipeIngredientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecipeIngredientId })
        </td>
    </tr>
}

</table>
