@{
    ViewBag.Title = "Admin";
}


    <div>
        <h3>Administration Area</h3>
        @Html.ActionLink("Categories", "Index", "Categories")<br />
        @Html.ActionLink("Dificulties", "Index", "Dificulties")<br />
        @Html.ActionLink("Cuisines", "Index", "Cuisines")<br />
        @Html.ActionLink("Occasions", "Index", "Occasions")<br />
        @Html.ActionLink("RecipeSteps", "Index", "RecipeSteps")<br />
        @Html.ActionLink("RecipeCategories", "Index", "RecipeCategories")<br />
        @Html.ActionLink("RecipeIngredients", "Index", "RecipeIngredients")<br />
        @Html.ActionLink("RecipeOccasions", "Index", "RecipeOccasions")<br />
        @Html.ActionLink("UserRatings", "Index", "UserRatings")<br />
        @Html.ActionLink("Comments", "Index", "Comments")<br />
    </div>

